<div class="cart-shipping-bands-section">
  <ul>
    {% for block in section.blocks %}
      <li>
        {% assign thumbnail = block.settings.icon | img_url: '40x', crop: 'center' %}
        <img src="{{ thumbnail }}" alt="{{ block.settings.text | escape }}" />
        <div class="flex flex-items-center">
          {{ block.settings.text }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
  