<section class="cookie-warning-snippet">
    <div class="hide" data-cookie-warning>
        <p>{{ 'general.cookie.cookie_warning_html' | t }}</p>
        <button 
        class="btn btn-primary"
        data-cookie-warning-btn 
        type="text" 
        aria-label="{{ 'general.accessibility.close_cookie_message' | t }}"
        >
        {{ 'general.accessibility.close_cookie_message' | t }}
        </button>
    </div>
</section>