
{%- comment -%}
  {% render 'dividers' %}
{%- endcomment -%}

<section 
  class="content-dividers-section" 
style="width: 100%; display: block; clear: both; height: {{settings.height}}px; background-color: {{settings.bkgColor}};"
></section>
  