
<section class="hamburger-snippet header-icon">
    <button class="hamburger-icon"
      aria-label="open navigation"
      data-click-toggle='{"target": "body", "add": "mobile-nav-open"}'>
      {% render 'icon-hamburger-2' %}
    </button>
</section>
  