
<section class="header-icons-search-snippet header-icon">
  <label 
    class="icon-wrapper"
    aria-label="Search icon"
    data-click-toggle='{"target": "body", "toggle": "search-open, modal-visible, modal-menu"}' for="site-search__input" class="label-hidden">
    {% render 'icon-search' %}
  </label>
</section>
  