<section class="header-icons-contact-snippet header-icon">
  <a href="/contact" class="icon-wrapper">
    {% render 'icon-phone' %}
    <small class="text-upper">{{ 'layout.contact.contact' | t }}</small>
  </a>
</section>