<div class="newsletter-signup">
  <div class="container flex left">
    <div class="col">
      <p class="bold">{{ 'general.newsletter_form.title' | t }}</p>
    </div>
    <div class="col">
      {% render 'newsletter-form' %}
    </div>
  </div>
</div>