{% comment %}
  {% render 'payment-icons' %}
{% endcomment %}
{% unless shop.enabled_payment_types == empty %}
  <section class="payment-icons-wrapper">
    {% if no_title %}
      <p>{{ 'layout.footer.payment_buttons_text' | t }}</p>
    {% endif %}
    
    <ul class="payment-icons">
      {% for type in shop.enabled_payment_types %}
        <li>
          {{ type | payment_type_svg_tag: class: 'icon' }}
        </li>
      {% endfor %}
      {% assign extra_payment_types = settings.extra_payment_icons | split: ',' %}
      {% for type in extra_payment_types %}
        <li>
          {{ type | payment_type_svg_tag: class: 'icon' }}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endunless %}