
{%- comment -%}
  {% render 'product-actions' %}
{%- endcomment -%}

<div class="product-actions-snippet">
  <div class="product-action">
    <span class="icon icon--copy"
      aria-hidden="true" 
      data-copy-url
      data-copy-title="{{ 'notification.general.copy_title' | t }}"
      data-copy-message="{{ 'notification.general.copy_message' | t }}"></span>
  </div>
</div>