<section class="shop-usps">
    <div class="shop-usps-wrapper">
        <p>{{ 'cart.general.free_delivery_threshold_html' | t }}</p>
        <p>{{ 'cart.general.returns_html' | t }}</p>
        <p>{{ 'cart.general.samples_html' | t }}</p>
    </div>
</section>