<div class="yotpo-instagram-gallery container">
  <div class="text-container">
    <h2 class="heading-2 bold">{{ title }}</h2>
    <p>{{ text }}</p>
  </div>
  <div
    class="yotpo yotpo-pictures-widget"
    data-gallery-id="{{ id }}">
  </div>
</div>