
<section class="container">
  <br>
  <p>.container</p>
  <h1 class="heading-1">.heading-1</h1>
  <h2 class="heading-2">.heading-2</h2>
  <h3 class="heading-3">.heading-3</h3>
  <h4 class="heading-4">.heading-4</h4>
  <h5 class="heading-5">.heading-5</h4>
  <br>
  <br>
  <h1 class="heading-1 bold">.heading-1</h1>
  <h2 class="heading-2 bold">.heading-2</h2>
  <h3 class="heading-3 bold">.heading-3</h3>
  <h4 class="heading-4 bold">.heading-4</h4>
  <h5 class="heading-5 bold">.heading-5</h5>
  <br>
  <br>
  <p>**body text** Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius nibh vel erat semper, et finibus urna commodo. Duis convallis odio nec nisl egestas, eget pellentesque lorem varius. Nunc vel lacus urna. Curabitur nec leo enim. Nunc tristique mollis ipsum nec ullamcorper. Phasellus lorem ipsum, ornare eget tortor eget, rutrum gravida risus.</p>
  <br>
  <br>
  <small>**small tag or .small - currently the same styles** Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius nibh vel erat semper, et finibus urna commodo. Duis convallis odio nec nisl egestas, eget pellentesque lorem varius. Nunc vel lacus urna. Curabitur nec leo enim. Nunc tristique mollis ipsum nec ullamcorper. Phasellus lorem ipsum, ornare eget tortor eget, rutrum gravida risus. </small>
  <br>
  <br>
  <label>**label tag -- currently the label class isnt being used**</label>
  <br>
  <br>
  <p class="bold">**body text bold** Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius nibh vel erat semper, et finibus urna commodo. Duis convallis odio nec nisl egestas, eget pellentesque lorem varius. Nunc vel lacus urna. Curabitur nec leo enim. Nunc tristique mollis ipsum nec ullamcorper. Phasellus lorem ipsum, ornare eget tortor eget, rutrum gravida risus.</p>
  <br>
  <br>
  <small class="bold">**small bold tag or .small-paragraph bold- currently the same styles** Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius nibh vel erat semper, et finibus urna commodo. Duis convallis odio nec nisl egestas, eget pellentesque lorem varius. Nunc vel lacus urna. Curabitur nec leo enim. Nunc tristique mollis ipsum nec ullamcorper. Phasellus lorem ipsum, ornare eget tortor eget, rutrum gravida risus. </small>
  <br>
  <br>
  <label class="bold">**label tag bold**</label>
  <br>
  <br>
  <p class="consistent-medium">.consistent-medium - remains 14px across DT & mob</p>
  <br>
  <br>
  <p class="consistent-small">.consistent-small - remains 12px across DT & mob</p>
  <br>
  <br>
  <p class="consistent-extra-small">.consistent-extra-small - remains 10px across DT & mob</p>
  <br>
  <br>
  <p class="consistent-medium bold">.consistent-medium bold - remains 14px across DT & mob</p>
  <br>
  <br>
  <p class="consistent-small bold">.consistent-small bold - remains 12px across DT & mob</p>
  <br>
  <br>
  <p class="consistent-extra-small bold">.consistent-extra-small bold - remains 10px across DT & mob</p>
  <br>
  <br>
  <a class="cta">.cta - remains 14px across DT & mob</a>
  <br>
  <br>
  <a class="cta small">.cta-link - remains 12px across DT & mob</a>
  <br> 
  <br>
  <a class="cta bold">.cta bold - remains 14px across DT & mob</a>
  <br>
  <br>
  <a class="cta small bold">.cta bold - remains 12px across DT & mob</a>
  <br>
  <br>
  <br>
  <br>
  <h4 class="heading-4">.text-input</h4>
  <input id="text-input" class="text-input" type="text" value=".text-input" />
  <input id="text-input" class="text-input" type="text" value="" placeholder=".text-input"/>
  <br>
  <br>
  <h4 class="heading-4">.select in a .select-wrapper</h4>
  <label for="text-input">Choose colour</label>
  <div class="select-wrapper">
    <select class="select" class="select">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
  </div>
  
  <div class="checkbox-wrapper">
    <input type="checkbox" id="checkbox_input" value="1">
    <label class="label" for="checkbox_input">
      Confirm the checkbox
    </label>
  </div>
  <br>
  <br>
  <h4 class="heading-4">.input-quanity and btn-dec & btn-inc in a .quantity-selector-wrapper</h4>
  <label for="text-input">Choose quantity</label>
  <div class="quantity-selector-wrapper">
    <input type="number" class="input-quantity" value="1">
    <button class="btn-quantity-selector btn-dec"></button>
    <button class="btn-quantity-selector btn-inc"></button>
  </div>
  <br>
  <br>
  <h4 class="heading-4">.input-quanity and btn-dec & btn-inc in a .quantity-selector-wrapper--small</h4>
  <div class="flex flex-items-center">
    <p>Boxes:</p>
    <div class="quantity-selector-wrapper small">
      <button class="btn-quantity-selector btn-dec"></button>
      <input type="number" class="input-quantity" value="1">
      <button class="btn-quantity-selector btn-inc"></button>
    </div>
  </div>
  <br>
  <br>
  <h4 class="heading-4">.btn .btn-primary</h4>
  <button class="btn btn-primary">.btn .btn-primary</button>
  <br>	
  <br>	
  <h4 class="heading-4">.btn .btn-primary disabled</h4>
  <button class="btn btn-primary" disabled>.btn .btn-primary disabled</button>
  <br>	
  <br>	
  <h4 class="heading-4">.btn .btn-secondary</h4>
  <button class="btn btn-secondary">.btn .btn-secondary</button>
  <br>	
  <br>
  <h4 class="heading-4">.btn .btn-secondary disabled</h4>
  <button class="btn btn-secondary" disabled>.btn .btn-secondary disabled</button>	
  <br>
  <br>
  <h4 class="heading-4">.btn-small .btn-primary **remains 12px on DT & mob**</h4>
  <button class="btn-small btn-primary">.btn-small .btn-primary</button>
  <br>
  <br>
  <h4 class="alert success">.alert .success</h4>
  <h4 class="alert info">.alert .info</h4>
  <h4 class="alert error">.alert .error</h4>
</section>